<!DOCTYPE html>
<html>
  <head>
    <title>Eat da Burger!</title>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
  </head>
  <body>
  
    <div class="container">
      <br>
      <center>
        <h1>Eat da Burger!</h1>
      </center>
      <br>
      {{{body}}}
      <br><br>
	  
      <form action="api/burgers" method="POST"> 
            <center>Ask for a burger or devour a burger!</center>
            <center><textarea></textarea></center>
        <center>
          <button id="submit">Order</button>
        </center>

      </form>

      <br>

    </div>

    {{!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> --}}

  </body>
</html>